Options +FollowSymLinks -MultiViews
RewriteEngine On

RewriteBase /~shanielharrar/github/yamvcf/public

#
# Development Rules
#
SetEnv ENVIRONMENT dev

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !/static/.*
RewriteRule ^.*$ Index.php [L]

#
# Production Rules
#
#SetEnv ENVIRONMENT prod

#RewriteCond %{REQUEST_FILENAME} !-f [OR]
#RewriteCond %{REQUEST_URI} !^/static/.*
#RewriteRule ^.*$ index.php [L]

